<%= render("web/tasks/shared/header", current: "tasks", title: current_task_list_name, back_to: "all") %>

<main>
  <% if current_task_list.tasks.exists? %>
    <center>
      <p>
        <strong>Filter:</strong>
        <%= link_to("All (#{tasks.size})", web_tasks_all_path)%> |
        <%= link_to("Incomplete", web_tasks_incomplete_path, style: "color: var(--text) !important;") %> |
        <%= link_to("Completed", web_tasks_completed_path, style: "color: var(--text) !important;") %>
      </p>
    </center>

    <% if tasks.present? %>
      <%= render("web/tasks/filtered/items", tasks:) %>
    <% else %>
      <%= render("web/tasks/filtered/blank", scope: "all") %>
    <% end %>
  <% else %>
    <%= render("web/tasks/filtered/blank", scope: "all") %>
  <% end %>
</main>
