<%= form_with(model: task, scope: :task, url:, method:) do |f| %>
  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><code><%= message %></code></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_area :name, autofocus: true, required: true %>
  </p>

  <% if method == :put %>
    <p>
      <%= f.label :completed, "Completed" %>
      <%= f.check_box :completed %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Submit" %>
    <%= link_to("Cancel", next_path, style: "margin-left: 10px") %>
  </p>
<% end %>
